.app-wrapper {
  display: grid;

  grid-template-areas:
  "header header"
  "nav content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 1200px;
  margin: 0 auto;
  /*grid-gap: 10px;*/
}

.header {
  grid-area: header;
  background-color: aqua;
}

.nav {
  grid-area: nav;
  background-color: aquamarine;
}

.content {
  grid-area: content;
  background-color: bisque;
}

.long-image img {
  width: 1200px;
  height: 200px;
}

.ava img {
  width: 200px;
}